.headerTitle {
    background-color: #333;
    color: #fff;
    height: 44px;
    line-height: 44px;
    text-indent: 4em;
}

.body {
    margin-top: 44px;
    padding: 10px;
}

.book-item {
    margin: 20px auto;
}

.item-wrap {
    display: flex;
    align-items: flex-start;
}

.img-box {
    width: 120px;
    margin-right: 10px;
    justify-content: center;
}

.img-box img {
    width: 100%;
}

.txt-box {
    flex: 1;
    flex-direction: column;
}

.name,
.author {
    margin: 0;
}

.name {
    line-height: 1.3;
    font-size: 17px;
    font-weight: bold;
}

.author {
    line-height: 1.2;
    font-weight: normal;
}

.num {
    color: #c40;
}

.tag-item {
    margin-left: 10px;
    border: 1px solid #48a;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
}